body {
    background-color: #252525;
    font-family: ZenKakuGothicAntique;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: white;
}
@font-face {
    font-family: ZenKakuGothicAntique;
    src: url(fonts/ZenKakuGothicAntique-Regular.ttf)
}

.dashboard-flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: flex-start;
    padding: 5px;
}

.game-box {
    background: linear-gradient(to top right, #353d9e, #833cc8);
    border: 5px outset #00ffff;
    padding-left: 10px;
    opacity: 0;
    transition: opacity 0.5s ease
}

.game-box.is-unlocked {
    opacity: 1;
}

#stats-box {
    width: 375px;
    height: 400px;
}

#inventory-box {
    position: relative;
    width: 375px;
    height: 450px;
    top: 5px;
}

#location-top-box {
    width: 450px;
    height: 250px;
}

#central-box {
    position: relative;
    width: 450px;
    height: 600px;
    top: 5px;
}

#cultivation-box {
    width: 425px;
    height: 450px;
}

#skills-box {
    position: relative;
    width: 425px;
    height: 400px;
    top: 5px;
}

#log-box {
    width: 325px;
    height: 600px;
}

#misc-box {
    position: relative;
    width: 325px;
    height: 250px;
    top: 5px;
}